# Tutorial: GPRuler for *Saccharomyces cerevisiae*
This tutorial explains how to use GPRuler with a given organism name as input.

In [1]:
import pandas as pd

**Step 1. fromOrganismName2ReactionsList**  
To run the script from the Jupyter notebook:
```
!python pipeline/fromOrganismName2ReactionsList.py
```

In alternative, to run the script from the terminal:
```
python pipeline/fromOrganismName2ReactionsList.py 
```

The user will be asked to:
* type the model name
    ```
    model = input('Which is the model name? ')
    ```
* type string 1 or 2 depending on whether the user just knows the name of the target organism (type 1) or the KEGG code of the organism (type 2). 
    ```
    organismChoice = input('Do you have the organism name (1) or the KEGG code (2) of the organism under investigation? ')

    ```
If option 1 is chosen, by typing the name of the organism when will be requested, the tool will automatically search this name into the KEGG ORGANISM database and will return a list of the most putative KEGG codes among which the user can search.   

The four produced outputs are:

In [2]:
dfOutput1 = pd.read_csv('./tutorial/outputs/Scerevisiae_GeneId2Rxns.csv', sep = '\t')
dfOutput1.head()

      GeneId Rxns
0    YAL068C   []
1  YAL067W-A   []
2    YAL067C   []
3    YAL065C   []
4  YAL064W-B   []

In [3]:
dfOutput2 = pd.read_csv('./tutorial/outputs/Scerevisiae_RxnId2Equation.csv', sep = '\t')
dfOutput2.head()

,RxnId,Equation,Definition
0,R00248,C00025 + C00006 + C00001 <=> C00026 + C00014 +...,L-Glutamate + NADP+ + H2O <=> 2-Oxoglutarate +...
1,R02855,C00810 + C00003 <=> C00741 + C00004 + C00080,(R)-Acetoin + NAD+ <=> Diacetyl + NADH + H+
2,R02946,C03044 + C00003 <=> C00810 + C00004 + C00080,"(R,R)-Butane-2,3-diol + NAD+ <=> (R)-Acetoin +..."
3,R10504,C20657 + C00003 <=> C01769 + C00004 + C00080,"meso-2,3-Butanediol + NAD+ <=> (S)-Acetoin + N..."
4,R00235,C00002 + C00033 + C00010 <=> C00020 + C00013 +...,ATP + Acetate + CoA <=> AMP + Diphosphate + Ac...

In [4]:
dfOutput3 = pd.read_csv('./tutorial/outputs/Scerevisiae_RxnId2ECs.csv', sep = '\t')
dfOutput3.head()

    RxnId                                          EC number
0  R00248        ['K00262', '1.1.1.4', 'K00262', '1.17.1.9']
1  R02855           ['K00004', 'K00004', 'K00004', 'K00004']
2  R02946           ['K00004', 'K00004', 'K00004', 'K00004']
3  R10504  ['K00004', '1.1.1.303', 'K00004', '1.1.1.4', '...
4  R00235                               ['K01895', 'K01895']

In [5]:
dfOutput3 = pd.read_csv('./tutorial/outputs/Scerevisiae_Rxns2Genes.csv', sep = '\t')
dfOutput3.head()

        Rxn                                              Genes
0    R00875  [['YDL246C'], ['YJR159W'], ['YDL246C'], ['YDL2...
1  R03050_1  [['YCL009C'], ['YMR108W'], ['YMR108W'], ['YCL0...
2  R03050_2  [['YCL009C'], ['YMR108W'], ['YMR108W'], ['YCL0...
3  R00190_1            [['YML022W'], ['YML022W'], ['YDR399W']]
4  R00190_2  [['YDR441C'], ['YML022W'], ['YML022W'], ['YDR4...

**Step 2. fromReactions2Genes_fromOrgName**  
To run the script from the Jupyter notebook:
```
!python pipeline/fromReactions2Genes_fromOrgName.py
```

In alternative, to run the script from the terminal:
```
python pipeline/fromReactions2Genes_fromOrgName.py
```
The two produced outputs are:

In [6]:
dfOutput1 = pd.read_csv('./tutorial/outputs/Scerevisiae_Rxns2Genes.csv', sep = '\t')
dfOutput1.head()

        Rxn                                              Genes
0    R00875  [['YDL246C'], ['YJR159W'], ['YDL246C'], ['YDL2...
1  R03050_1  [['YCL009C'], ['YMR108W'], ['YMR108W'], ['YCL0...
2  R03050_2  [['YCL009C'], ['YMR108W'], ['YMR108W'], ['YCL0...
3  R00190_1            [['YML022W'], ['YML022W'], ['YDR399W']]
4  R00190_2  [['YDR441C'], ['YML022W'], ['YML022W'], ['YDR4...

In [7]:
dfOutput2 = pd.read_csv('./tutorial/outputs/Scerevisiae_Kegg2UniprotGenes.csv', sep = '\t')
dfOutput2.head()

  keggId uniprotId
0  Q0045    P00401
1  Q0050    P03875
2  Q0055    P03876
3  Q0060    P03877
4  Q0065    P03878

**Step 3. genesLocationFilter_fromOrgName**  
To run the script from the Jupyter notebook:
```
!python pipeline/genesLocationFilter_fromOrgName.py
```

In alternative, to run the script from the terminal:
```
python pipeline/genesLocationFilter_fromOrgName.py
```
The output is:

In [8]:
dfOutput1 = pd.read_csv('./tutorial/outputs/Scerevisiae_genes2Compartments.csv', sep = '\t')
dfOutput1.head()

      Gene                                      lCompartments
0  YBR208C                     ['cytoplasm', 'mitochondrion']
1  YPL029W                     ['cytoplasm', 'mitochondrion']
2  YNR057C                                      ['cytoplasm']
3  YGR154C                        ['cytoplasm', 'peroxisome']
4  YDL193W  ['nucleus', 'endoplasmic reticulum', 'cytoplas...

**Step 4. fromReactions2Genes_wFilteredData_fromOrgName**  
To run the script from the Jupyter notebook:
```
!python pipeline/fromReactions2Genes_wFilteredData_fromOrgName.py
```

In alternative, to run the script from the terminal:
```
python pipeline/fromReactions2Genes_wFilteredData_fromOrgName.py
```
The produced outputs are:

In [9]:
dfOutput1 = pd.read_csv('./tutorial/outputs/Scerevisiae_Rxns2Genes.csv', sep = '\t')
dfOutput1.head()

        Rxn                                              Genes
0    R00875  [['YDL246C'], ['YJR159W'], ['YDL246C'], ['YDL2...
1  R03050_1  [['YCL009C'], ['YMR108W'], ['YMR108W'], ['YCL0...
2  R03050_2  [['YCL009C'], ['YMR108W'], ['YMR108W'], ['YCL0...
3  R00190_1            [['YML022W'], ['YML022W'], ['YDR399W']]
4  R00190_2  [['YDR441C'], ['YML022W'], ['YML022W'], ['YDR4...

**Step 5. GPRULER**  
To run the script from the Jupyter notebook:
```
!python pipeline/GPRULER.py ownData
```

In alternative, to run the script from the terminal:
```
python pipeline/GPRULER.py ownData
```

The execution of this step and the consequent outputs are not shown because equal to those coming from Step 11 of the Tutorial "Tutorial_GPRuler_fromSBML".